.darkmode {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px;

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & svg {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  article {
    h1 {
        color: rgb(255, 117, 127);
    }

    h2 {
        color: rgb(224, 175, 104);
    }

    h3 {
        color: rgb(158, 206, 106);
    }

    h4 {
        color: rgb(125, 207, 255);
    }

    h5 {
        color: rgb(122, 162, 247);
    }

    h6 {
        color: rgb(187, 154, 247);
    }
}

strong,
code {
    color: #7dcfff !important;
}

span.text-highlight {
     
    background-color: rgba(255, 158, 100, 0.4) !important;
}

em {
    color: #7dcfff !important;
    ;
 }

 ::selection {
    background: rgba(39, 71, 125, 0.6);
  }
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .toggle ~ label {
  & > #dayIcon {
    opacity: 0;
  }
  & > #nightIcon {
    opacity: 1;
  }
}

:root .toggle ~ label {
  & > #dayIcon {
    opacity: 1;
  }
  & > #nightIcon {
    opacity: 0;
  }
}
