@use "./base.scss";

// put your custom CSS here!

theme: {
    typography: {
      header: "Lora",
      body: "Inter",
      code: "Fira Code",
    },
    colors: {
      lightMode: {
        light: "#eff1f5",
        lightgray: "#dce0e8",
        gray: "#8c8fa1",
        darkgray: "#4c4f69",
        dark: "#4f4f7f",
        secondary: "#40a02b",
        tertiary: "#209fb5",
        highlight: "rgba(143, 159, 169, 0.15)",
      },
      darkMode: {
        light: "#1e1e2e",
        lightgray: "#6c7086",
        gray: "#a6adc8",
        darkgray: "#cdd6f4",
        dark: "#cdd6f4",
        secondary: "#a6e3a1",
        tertiary: "#89dceb",
        highlight: "rgba(143, 159, 169, 0.15)",
      },
    },
  }